XML/hivXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="title" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="buttonText" type="xs:string" default="Go"/>

	<xs:element name="attributeQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Intelligence"></xs:enumeration>
				<xs:enumeration value="Social"></xs:enumeration>
				<xs:enumeration value="Physical"></xs:enumeration>
				<xs:enumeration value="Mettle"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="statusQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Well Rested"></xs:enumeration>
				<xs:enumeration value="Motivated"></xs:enumeration>
				<xs:enumeration value="Confident"></xs:enumeration>
				<xs:enumeration value="In Love"></xs:enumeration>
				<xs:enumeration value="Calm"></xs:enumeration>
				<xs:enumeration value="Healthy"></xs:enumeration>
				<xs:enumeration value="Secure"></xs:enumeration>
				<xs:enumeration value="At Risk"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="skillQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Welding"></xs:enumeration>
				<xs:enumeration value="Electrician"></xs:enumeration>
				<xs:enumeration value="Carpentry"></xs:enumeration>
				<xs:enumeration value="Auto Mechanic"></xs:enumeration>
				<xs:enumeration value="Hair Dresser"></xs:enumeration>
				<xs:enumeration value="Cosmetology"></xs:enumeration>
				<xs:enumeration value="Manicurist"></xs:enumeration>
				<xs:enumeration value="Babysitting"></xs:enumeration>
				<xs:enumeration value="Chess"></xs:enumeration>
				<xs:enumeration value="Art"></xs:enumeration>
				<xs:enumeration value="Music"></xs:enumeration>
				<xs:enumeration value="Basketball"></xs:enumeration>
				<xs:enumeration value="Football"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="relationshipQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Auntie Gina"></xs:enumeration>
				<xs:enumeration value="Uncle Harry"></xs:enumeration>
				<xs:enumeration value="Jimmy"></xs:enumeration>
				<xs:enumeration value="Jay Jay"></xs:enumeration>
				<xs:enumeration value="Tia"></xs:enumeration>
				<xs:enumeration value="Monique"></xs:enumeration>
				<xs:enumeration value="Mrs. Lake"></xs:enumeration>
				<xs:enumeration value="Coach Woodfin"></xs:enumeration>
				<xs:enumeration value="Nurse Roberts"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="storylineQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Intro"></xs:enumeration>
				<xs:enumeration value="Chapter 1"></xs:enumeration>
				<xs:enumeration value="Chapter 2"></xs:enumeration>
				<xs:enumeration value="Chapter 3"></xs:enumeration>
				<xs:enumeration value="Chapter 4"></xs:enumeration>
				<xs:enumeration value="Chapter 5"></xs:enumeration>
				<xs:enumeration value="Chapter 6"></xs:enumeration>
				<xs:enumeration value="Chapter 7"></xs:enumeration>
				<xs:enumeration value="Party"></xs:enumeration>
				<xs:enumeration value="Basketball Game"></xs:enumeration>
				<xs:enumeration value="Bus"></xs:enumeration>
				<xs:enumeration value="Facebook"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="schoolQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Homework"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="itemQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Coins"></xs:enumeration>
				<xs:enumeration value="Tools"></xs:enumeration>
				<xs:enumeration value="Clothes"></xs:enumeration>
				<xs:enumeration value="Books"></xs:enumeration>
				<xs:enumeration value="Games"></xs:enumeration>
				<xs:enumeration value="Cell Phone"></xs:enumeration>
				<xs:enumeration value="Condoms"></xs:enumeration>
				<xs:enumeration value="Birth Control"></xs:enumeration>
				<xs:enumeration value="Sports Equipment"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="timeQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Time"></xs:enumeration>
				<xs:enumeration value="Day"></xs:enumeration>
				<xs:enumeration value="Week"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="luckQuality">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Luck"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="quality">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="attributeQuality"/>
				<xs:element ref="statusQuality"/>
				<xs:element ref="relationshipQuality"/>
				<xs:element ref="tradeQuality"/>
				<xs:element ref="skillQuality"/>
				<xs:element ref="schoolQuality"/>
				<xs:element ref="itemQuality"/>
				<xs:element ref="timeQuality"/>
				<xs:element ref="storylineQuality"/>
				<xs:element ref="luckQuality"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="area">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Home"></xs:enumeration>
				<xs:enumeration value="School"></xs:enumeration>
				<xs:enumeration value="Jay Jay's House"></xs:enumeration>
				<xs:enumeration value="Jimmy's House"></xs:enumeration>
				<xs:enumeration value="Bus"></xs:enumeration>
				<xs:enumeration value="Basketball Game"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="travelToArea">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Home"></xs:enumeration>
				<xs:enumeration value="School"></xs:enumeration>
				<xs:enumeration value="Jay Jay's House"></xs:enumeration>
				<xs:enumeration value="Jimmy's House"></xs:enumeration>
				<xs:enumeration value="Bus"></xs:enumeration>
				<xs:enumeration value="Basketball Game"></xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="icon">
		<xs:complexType>
			<xs:choice>
				<xs:element name="auntie_gina_uncle_harry" type="xs:string"/>
				<xs:element name="coach_woodfin" type="xs:string"/>
				<xs:element name="jay_jay" type="xs:string"/>
				<xs:element name="jimmy" type="xs:string"/>
				<xs:element name="monique" type="xs:string"/>
				<xs:element name="mrs_lake" type="xs:string"/>
				<xs:element name="nurse_roberts" type="xs:string"/>
				<xs:element name="tia" type="xs:string"/>
				<xs:element name="drinking_drugs" type="xs:string"/>
				<xs:element name="jogging" type="xs:string"/>
				<xs:element name="helping" type="xs:string"/>
				<xs:element name="party" type="xs:string"/>
				<xs:element name="basketball" type="xs:string"/>
				<xs:element name="videoGames" type="xs:string"/>
				<xs:element name="sex" type="xs:string"/>
				<xs:element name="socialMedia" type="xs:string"/>
				<xs:element name="studying" type="xs:string"/>
				<xs:element name="flirting" type="xs:string"/>
				<xs:element name="nurse" type="xs:string"/>
				<xs:element name="empty" type="xs:string"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="effect">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quality" />
				<xs:choice>
					<xs:element name="changedBy" type="xs:int"></xs:element>
					<xs:element name="setTo" type="xs:int"></xs:element>
				</xs:choice>
				<xs:element name="show" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="resultType">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element ref="description"/>
			<xs:element name="timeCost" type="xs:int" default="1"/>
			<xs:element ref="effect" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="defaultResult" type="resultType"/>
	<xs:element name="successResult" type="resultType"/>
	
    <xs:element name="forest">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element ref="title"/>
    			<xs:element ref="trunk" minOccurs="1" maxOccurs="unbounded"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

	<xs:element name = "trunk">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" maxOccurs="1"/>
				<xs:element ref="description" maxOccurs="1"/>
				<xs:element ref="icon" maxOccurs="1"/>
				<xs:element ref="buttonText" maxOccurs="1"/>
				<xs:element name="trunkTag" type="xs:string"/>
				<xs:element ref="area" maxOccurs="1"/>
				<xs:element name="urgency" type="xs:positiveInteger" default="1" maxOccurs="1"/>
				<xs:element name="deck" type="xs:string" maxOccurs="1"/>
				<xs:element ref="requirements" maxOccurs="1"/>
				<xs:element ref="branches" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="requirements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="requirement" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="requirement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quality"/>
				<xs:element name="qualityMin" type="xs:int" default="1"/>
				<xs:element name="qualityMax" type="xs:int" default="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="branches">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="branch" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="branch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="description"/>
				<xs:element ref="icon"/>
				<xs:element ref="buttonText"/>
				<xs:element ref="requirements"/>
				<xs:element ref="defaultResult" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="successResult" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="travelToArea" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="testedQualities"/>
				<xs:element name="difficulty" type="xs:positiveInteger" default="1"/>
				<xs:element name="linkedEvent" type="xs:string" default="null"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="testedQualities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quality" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

</xs:schema>